# while loop

* Python’s **while** statement is the most general iteration construct in the language. 

* it **repeatedly executes** a block of (normally indented) statements as long
as a test at the top keeps evaluating to a **true** value. 

* it is called a "loop" because control
keeps looping back to the start of the statement until the test becomes **false**. 

* When the test becomes **false**, control passes to the statement that follows the while block. 

* If the test in the beginning is **false**, the body never runs and the **while statement is skipped**.

The general format of **while** statements looks like this

In [ ]:
while test: # Loop test
  statements # Loop body  
else: # Optional else
  statements # Run if didn't exit loop with break

Let's understand the basic logic of **while** loop with this example

In [ ]:
x = 0
while x < 10:
  print(x)
  x += 1
print('Finished!')

0
1
2
3
4
5
6
7
8
9
Finished!

In [ ]:
del x

In the above code we initialize `x=0` otherwise we would get a `NameError`.

In [ ]:
# while loop iterates until the condition given to it becomes False
condition = 10
while condition < 15:
    print(condition)
    condition = condition + 1

10
11
12
13
14

In [ ]:
# This is equivalent to the code in above cell
condition = 10
while condition < 15:
    print(condition)
    condition += 1

10
11
12
13
14

In [ ]:
n = 5
while n > -3:
  n -= 1
  print(n, end=' ')
  if n == -1:
    break
else:
  print('Loop done.')

4 3 2 1 0 -1

In [ ]:
arr = [1,2,4]
i = 0
while i < len(arr):
  if arr[i] == 3:
    print(i)
    break
  i += 1
else:
  print("There is no 3 in arr")

There is no 3 in arr

## Infinite Loop

When working with **while** loops, sooner or later you will accidentally send Python into a neverending
loop. Here is an example:

In [ ]:
while True:
  print('You need to stop me!')

## break, continue, pass, loop else

* **break**: Jumps out of the closest enclosing loop 

* **continue**: Jumps to the top of the closest enclosing loop (to the loop's header line)

* **pass**: Does nothing at all: it’s an empty statement placeholder

* **loop else** block: Runs if and only if the loop is exited normally (i.e., without hitting a **break**)

Factoring in break and continue statements, the general format of the while loop looks
like this:

In [ ]:
while test:
  statements
  if test:
    break # Exit loop now, skip else if present
  if test:
    continue # Go to top of loop now, to test1
else:
  statements # Run if we didn't hit a 'break'

**break** and **continue** statements can appear anywhere inside the **while** (or **for**) loop's
body, but they are usually coded further nested in an **if** test to take action in response
to some condition.

## pass

In [ ]:
while True:
   
a = 1

SyntaxError: ignored

In [ ]:
while True:
  pass # you need to stop this infinite loop

a = 1

KeyboardInterrupt: ignored

## continue

The **continue** statement causes an immediate jump to the top of a loop.

In [ ]:
x = 10
while x:
  x = x - 1 # Or, x -= 1
  if x % 2 != 0:
    continue # Odd? -- skip print
  print(x, end=' ')

8 6 4 2 0

Because **continue** jumps to the top of the loop, you don’t need to nest the **print** statement
here inside an **if** test; the **print** is only reached if the **continue** is not run.

This code is the same as the above one.

In [ ]:
x = 10
while x:
  x = x-1
  if x % 2 == 0: # Even? -- print
    print(x, end=' ')

8 6 4 2 0

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## break

The **break** statement causes an immediate exit from a loop. Because the code that follows
it in the loop is not executed if the **break** is reached, you can also sometimes avoid
nesting by including a **break**.

In [ ]:
while True:
  name = input('Enter name:') 
  if name == 'stop':
    break
  age = input('Enter age: ')
  print('Hello', name, '=>', int(age) ** 2)

Enter name:Tigran
Enter age: 19
Hello Tigran => 361
Enter name:stop

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 0
while True:
  print(i)
  if i == 9:
      break
  else:
      i += 1

0
1
2
3
4
5
6
7
8
9

## Loop else

When combined with the loop **else** clause, the **break** statement can often eliminate the need for the search status flags used in other languages.

The following
piece of code determines whether a positive integer y is prime by searching for factors
greater than 1:

In [ ]:
y = int(input('Enter a positive integer:'))
x = y // 2 # For some y > 1
while x > 1:
  if y % x == 0: # Remainder
    print(y, 'has factor', x)
    break # Skip else
  x -= 1
else: # Normal exit
  print(y, 'is prime')

Enter a positive integer:10
10 has factor 5

Rather than setting a flag to be tested when the loop is exited, it inserts a **break** where
a factor is found. This way, the **loop else** clause can assume that it will be executed
only if no factor is found; if you don't hit the **break**, the number is prime.

The **loop else** clause is also run if the body of the loop is never executed, as you don't
run a **break** in that event either; in a **while** loop, this happens if the test in the header
is false to begin with.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
  if i == 4:
    break
else:
  print("i is no longer less than 6")

1
2
3

In [ ]:
a = 0
while True:
  a += 1
  print(a)
  if a == 4:
    break

1
2
3
4

In [ ]:
a = 0
while a < 4:
  a += 1
  print(a)

1
2
3
4

# Exercises

1. Write a program (with a while loop) to print integers from 1 to 10 on the same line separated by a space.

In [ ]:
x = 1
while x <= 10:
  print(x, end=' ')
  x += 1

2. Write a program that allows the user to enter any number of test scores. The user indicates they are done by entering in a negative number. Print how many of the scores are A's (90 or
above). Also print out the average.

  Գրել ծրագիր, որը թույլ կտա օգտատիրոջը մուտքագրել ինչ-որ թիվ՝ որպես գնահատական (0-100): Այս գործողություն կատարվում է մինչև բացասական թիվ մուտքագրելը։ Ծրագիրը պետք է հաշվի 90 և ավել գնահատականների քանակը, ինչպես նաև մուտքագրված գնահատականների միջին թվաբանականը։

In [9]:
totalScore=0
scoreCount=0  
above90s=0
score=int(input('Enter your score: '))
while score>=0:
  if score<0:
    break
  scoreCount+=1
  totalScore+=score
  if score>90:
    above90s+=1
  score=int(input('Enter your score: '))
  
print('The average is:', totalScore/scoreCount)
print('Scores greater than 90:', above90s)

Enter your score: 45
Enter your score: 32
Enter your score: -3
The average is: 38.5
Scores greater than 90: 0

3. Write a program that defines a random number (ամբողջ թիվ) between 1 and 10, then asks the user to enter a guess, if the number is guessed then the program finishes with the following message **Number guessed!**, if not the program continues to run.

  Գրել ծրագիր, որը սահմանում է պատահական ամբողջ թիվ 1-ից 10 միջակայքից, այնուհետև թույլ է տալիս օգտատիրոջը մուտքագրել որևէ թիվ՝ որպես գուշակություն․ եթե թիվը գուշակված է, ծրագիրը ավարտվում է գրելով «Number guessed», հակառակ դեպքում՝ շարունակում է աշխատել։

In [ ]:
import random
a=random.randint(1, 10)
num=int(input("your number: "))
while num!=a:
  num=int(input("your number: "))
print("Number guessed")

your number: 7
your number: 8
your number: 9
your number: 10
your number: 1
your number: 2
your number: 3
your number: 4
your number: 5
your number: 6
Number guessed

4. Write a Python program that prints all the integer numbers from 0 to 6 except 3 and 6.

  Գրել ծրագիր, որը տպում է 0-ից 6 բոլոր ամբողջ թվերը, բացի 3-ից ու 6-ից։

In [ ]:
x=0
while x<6:  
  x+=1
  if x==3 or x==6:
    continue
  print(x)

1
2
4
5

# for loop

We have already learnt about **while** loop, now we will learn about the **for** loop, which is designed for stepping through the items in a sequence or other iterable object and running a block of code for each.

* works on strings, lists, tuples, and
other built-in iterables
* begins with a header line that specifies an assignment target (or
targets), along with the object you want to step through.

In [ ]:
for target in object: # Assign object items to target
  statements
  if test: break # Exit loop now, skip else
  if test: continue # Go to top of loop now
else:
  statements # If we didn't hit a 'break'

In [ ]:
for num in range(10): # 0, 1, 2, ..., 9
  print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
for i in range(3):
  num = eval(input('Enter a number: '))
  print('The square of your number is', num**2)
print('The loop is now done.')

Enter a number: 4
The square of your number is 16
Enter a number: 5
The square of your number is 25
Enter a number: 6
The square of your number is 36
The loop is now done.

In [ ]:
for i in range(5):
  print(i, end=' ')

0 1 2 3 4

In [ ]:
for i in range(3): # 0, 1, 2
  print(i+1, '-- Hello')

1 -- Hello
2 -- Hello
3 -- Hello

`range` creates a sequence object similar to list.
If you provide only 1 argument to `range`, it creates sequence from 0 up to the integer you gave to it. In case of 2 arguments it starts from the first number and goes up to the second one.

In [ ]:
for i in range(5, 10): # 5, 6, 7, 8, 9
  print(i)

5
6
7
8
9

We can provide the increment (step size) with the 3rd argument.

In [ ]:
for i in range(5, 20, 2):  # 5, 7, 9, 11, 13, 15, 17, 19
  print(i)

5
7
9
11
13
15
17
19

In [ ]:
for i in range(5, 0, -1):
  print(i, end=' ')
  i += 1
print('Finished')

5 4 3 2 1 Finished

We can use any iterable object, such as a `list`, which we will study in more detail later.

In [ ]:
for i in [4, 55, 75, 80]:
  print(i+1)

5
56
76
81

Strings are also iterable objects, so we can also use them with **for** loop.

In [ ]:
for i in 'hello':
  print(i, end = ' ')

h e l l o

The same holds for tuples.

In [ ]:
T = ("this", "is", "a", "tuple")
for x in T:
  print(x, end=' ')

this is a tuple

In [ ]:
# combining loops and conditions
for i in range(10):
  if i % 2 == 0:
    print(i)

0
2
4
6
8

In [ ]:
# breaking loops
for i in range(20):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
# continuing loops
for i in range(10):
  if i != 5:
    continue
  print(i)

5

In [ ]:
# for loop also has else clause, similar to while
# which executes when no breaks occur in the loop
for i in range(10):
  print(i)
  if i == 7:
    break
else:
  print("didn't reach to end")

0
1
2
3
4
5
6
7

In [ ]:
for i in range(5):
  print(i)
  if i == 7:
    break
else:
  print("reached the end")

0
1
2
3
4
reached the end

In [ ]:
T = [(1, 2), (3, 4), (5, 6)]
for a, b in T: # Tuple assignment at work
  print(a, b)

1 2
3 4
5 6

In [ ]:
for both in T: # Manual assignment equivalent
  a, b = both
  print(a, b)

1 2
3 4
5 6

## Counting 

Very often we want our programs to count how many times something happens. The key to counting is to use a variable
to keep the count.

For example, this program gets 10 numbers from the user and counts how many of those numbers
are greater than 10.

In [ ]:
count = 0
for i in range(10):
  num = eval(input('Enter a number: '))
  if num > 10:
    count += 1  # or count = count + 1
print('There are', count, 'numbers greater than 10.')

Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 10
Enter a number: 11
Enter a number: 14
Enter a number: 5
Enter a number: 15
Enter a number: 16
Enter a number: 14
There are 5 numbers greater than 10.

This modification of the previous example counts how many of the numbers the user
enters are greater than 10 and also how many are equal to 0. To count two things we use two count
variables.

In [ ]:
count1 = 0
count2 = 0
for i in range(10):
  num = eval(input('Enter a number: '))
  if num > 10:
    count1 += 1
  if num == 0:
    count2 += 1
print('There are', count1, 'numbers greater than 10.')
print('There are', count2, 'zeroes.')

Enter a number: 5
Enter a number: 43
Enter a number: 4
Enter a number: 43
Enter a number: 34
Enter a number: 23
Enter a number: 3
Enter a number: 2
Enter a number: 2
Enter a number: 4
There are 4 numbers greater than 10.
There are 0 zeroes.

## Summing

Closely related to counting is summing, where we want to add up some numbers.
For example, this program will add up the numbers from 1 to 100. The way this works is that each
time we encounter a new number, we add it to our running total, `s`.

In [ ]:
s = 0
for i in range(1,101):
  s += i
print('The sum is', s)

The sum is 5050

This program that will ask the user for 10 numbers and then computes their average.

In [ ]:
s = 0
for i in range(10):
  num = eval(input('Enter a number: '))
  s += num
print('The average is', s/10)

Enter a number: 2
Enter a number: 23
Enter a number: 2
Enter a number: 1
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 8
Enter a number: 5
The average is 6.3

## Swapping

Often we will want to swap the values of two variables, `x` and `y`. A common mistake is to do like this

In [ ]:
x = 5
y = 15
x = y
y = x
print(x)
print(y)

15
15

But this will not work. One way to achive this is to use a third variable to save the value of `x`:

In [ ]:
x = 5
y = 15
hold = x
x = y
y = hold
print(x)
print(y)

15
5

There is a nicer way to do this in Python

In [ ]:
x = 5
y = 15
x, y = y, x
print(x)
print(y)

15
5

## Flag variables

A flag variable can be used to let one part of your program know when something happens in
another part of the program. Here is an example that determines if a number is prime.

In [ ]:
num = int(input('Enter number: '))
flag = 0
for i in range(2, num):
  if num % i == 0:
    flag = 1
    
if flag == 1:
  print('Not prime')
else:
  print('Prime')

Enter number: 12
Not prime

## Max and Min

A common programming task is to find the largest or smallest value in a series of values. Here is
an example where we ask the user to enter ten positive numbers and then we print the largest one.

In [ ]:
largest = 0
for i in range(9):
  num = eval(input('Enter a positive number: '))
  if num > largest:
    largest = num
print('Largest number:', largest)

Enter a positive number: 1
Enter a positive number: 2
Enter a positive number: 12
Enter a positive number: 15
Enter a positive number: 33
Enter a positive number: 2
Enter a positive number: 3
Enter a positive number: 4
Enter a positive number: 5
Largest number: 33

# Exercises

1. Write a program that outputs 100 lines, numbered 1 to 100, each with your name on it. The
output should look like the output below.

  Գրել ծրագիր, որը կտպի 100 հատ համարակալված տող (1-ից 100) և կգրի ձեր անունը։ Օրինակ՝

1 Nshan

2 Nshan

...

100 Nshan

In [ ]:
for i in range(1, 101):
  print(i, 'Lilith')

1 Lilith
2 Lilith
3 Lilith
4 Lilith
5 Lilith
6 Lilith
7 Lilith
8 Lilith
9 Lilith
10 Lilith
11 Lilith
12 Lilith
13 Lilith
14 Lilith
15 Lilith
16 Lilith
17 Lilith
18 Lilith
19 Lilith
20 Lilith
21 Lilith
22 Lilith
23 Lilith
24 Lilith
25 Lilith
26 Lilith
27 Lilith
28 Lilith
29 Lilith
30 Lilith
31 Lilith
32 Lilith
33 Lilith
34 Lilith
35 Lilith
36 Lilith
37 Lilith
38 Lilith
39 Lilith
40 Lilith
41 Lilith
42 Lilith
43 Lilith
44 Lilith
45 Lilith
46 Lilith
47 Lilith
48 Lilith
49 Lilith
50 Lilith
51 Lilith
52 Lilith
53 Lilith
54 Lilith
55 Lilith
56 Lilith
57 Lilith
58 Lilith
59 Lilith
60 Lilith
61 Lilith
62 Lilith
63 Lilith
64 Lilith
65 Lilith
66 Lilith
67 Lilith
68 Lilith
69 Lilith
70 Lilith
71 Lilith
72 Lilith
73 Lilith
74 Lilith
75 Lilith
76 Lilith
77 Lilith
78 Lilith
79 Lilith
80 Lilith
81 Lilith
82 Lilith
83 Lilith
84 Lilith
85 Lilith
86 Lilith
87 Lilith
88 Lilith
89 Lilith
90 Lilith
91 Lilith
92 Lilith
93 Lilith
94 Lilith
95 Lilith
96 Lilith
97 Lilith
98 Lilith
99 Lilith
100 Lilith

2. Write a program that prints out a list of the integers from 1 to 20 and their squares. The output
should look like this:

  Գրել ծրագիր, որը կտպի 1-20 ամբողջ թվերը և նրանց քառակուսիները՝ այսպես․

1 --- 1

2 --- 4

3 --- 9

...

20 --- 400

In [ ]:
for i in range (1, 21):
  print(i,'---', i*i)

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

3. Write a program that uses a for loop to print the numbers 8, 11, 14, 17, 20, . . . , 83, 86, 89.

  Գրել ծրագիր, որը կտպի հետևյալ թվերը 8, 11, 14, 17, 20, . . . , 83, 86, 89` օգտագործելով **for** ցիկլ:

In [ ]:
for i in range(8, 90, 3):
  print(i)

8
11
14
17
20
23
26
29
32
35
38
41
44
47
50
53
56
59
62
65
68
71
74
77
80
83
86
89

4. Write a program that asks the user to enter ten positive numbers and then prints the smallest one.

  Գրել ծրագիր, որը կվերցնի 10 դրական թվեր օգտատիրոջից և կտպի դրանցից փոքրագույնը։

In [7]:
list1=[]
for i in range (10):
  n=int(input())
  list1.append(n)
print (list1)
min=list1[0]
for i in range (len(list1)):
  if list1[i]<min:
    min=list1[i]
print("The smallest element is: ", min)

1
0
9
245
688
632
-9
14
12
325
[1, 0, 9, 245, 688, 632, -9, 14, 12, 325]
The smallest element is:  -9